@import "tailwindcss";

:root {
  --background: #f8f6f2;
  --foreground: #171717;
  --primary: #1A425F;
  --secondary: #F2C45A;
  --primary-lighter: #56798f;
  --secondary-warmer: #efd9c6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-lighter: var(--primary-lighter);
  --color-secondary-warmer: var(--secondary-warmer);
  --gradient-hero: linear-gradient(135deg, #1a425f, #0c2536);
  --shadow-soft: 0 4px 20px hsl(203 61% 18% / 0.1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1A425F;
    --foreground: #ffffff;
    --primary: #1A425F;
    --secondary: #F2C45A;
  }
} */

@layer utilities{
  .textCard {
    @apply flex items-start gap-2 pl-[20px] p-[30px] border-l-4 border-l-primary shadow-(--shadow-soft) rounded-md;
  }

  .textCardTitle {
    @apply ml-2 mb-[20px] text-2xl font-bold;
  }

  .hero {
    @apply bg-[url(https://unsplash.com/photos/person-sewing-using-sewing-machine-qI9H5nyhrV8)]
  }

  .shadow-warm {
    box-shadow: 0 14px 20px #efd9c630, 0 3px 6px #00000015;
  }

  .bg-gradient-hero {
    background-image: var(--gradient-hero);
  }
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 32px;
}
