@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-*: initial;
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-montserrat);
  --primary: #1A425F;
  --secondary: #F2C45A;
  --gray: #f3f4f6;
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: Montserrat, Helvetica, sans-serif;
  font-weight: 400;
}
